html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1rem;
  display: block;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1{
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.2rem;
}

p{
  line-height: 28px;
}

/*
  Utility styling goes here
*/
.container{
  width: 92%;
  max-width: 1322px;
  margin: auto;
  box-sizing: border-box;
}

.m-a{
  margin: auto;
}
.t-c{
  text-align: center;
}
.d-flex{
  display: flex;
}
.flex-direction-row{
  flex-direction: row;
}
.justify-space-between{
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}
.align-items-middle{
  align-items: center;;
}
/*#####################################################################################
#####################################################################################*/

.top-decoration {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 10px;
  background: #5b9bbc url(./top-decorations.png) repeat-x top center;
}
.header-area{
  background: #0d2c5a;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
}
.sticky-menu{
  position: fixed;
  top: 10px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.header-area .container {
  max-width: 630px;
}
.header-area div div {
  line-height: 18px;
  padding: 0.75rem 0;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 2px;
  color: #5b9bbc;
}
.header-area .main-menu {
  padding: 2rem 0;
}
.header-area .main-menu div {
  display: inline;
  color: #5b9bbc;
}
.header-area .logo{
  font-size: 1.5rem;
  cursor: pointer;
}
/*
  Hero Sections Styling goes here
*/
.hero-area{
  height: calc(100vh - 66px);
  min-height: 750px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  background: #0d2c5a;
  color: #fff;
}
.hero-area .hero-content h1 {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.hero-area .hero-content h1, .hero-area .hero-content h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.hero-area .hero-content h3{
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.hero-area .hero-content .hero-img img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  border: 2px solid #fff;
}
.hero-area .hero-content ul {
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
.hero-area .hero-content ul:before {
  content: '';
  width: 100px;
  height: 2px;
  display: inline-block;
  margin-bottom: 4px;
  background: #5b9bbc;
}
.hero-area .hero-content ul:after {
  content: '';
  width: 100px;
  height: 2px;
  display: inline-block;
  margin-bottom: 4px;
  background: #5b9bbc;
}
.hero-area .hero-content ul li {
  margin: 0px 8px;
  display: inline-block;
}
.hero-area .hero-content .scrol-arrow{
  margin-top: 1rem;
  animation: jumpy 1s infinite;
  animation-direction: alternate;
}
.hero-area .centered.line {
  width: 320px;
  height: 3px;
  background-color: #5b9bbc;
  margin: auto;
}

@keyframes jumpy {
  0% {
    transform: translateY(0);    
  }
  100% {
    transform: translateY(15px);
  }
}

/*
  About Sections Styling goes here
*/

.about-area{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-area h1{
  font-weight: 300;
  text-transform: uppercase;
}
.about-area h4{
  margin-top: 3.5rem;
}
.about-area .centered.line {
  width: 280px;
  height: 3px;
  background-color: #cccccc;
  margin: auto;
}
.about-area .desc, .about-area .contact-info{
  width: 45%;
}
.about-area .contact-info .email, .about-area .contact-info .skype, .about-area .contact-info .phone{
  padding: 0.5rem 0;
  border-bottom: 2px solid;
}
.about-area .skills{
  width: 45%;
}
.about-area .skills .skill{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  background-color: #ffffff;
  border: 2px solid #808080;
  border-radius: 0px;
}
.about-area .skills .skill div{
  padding: 0.5rem 0.5rem;
  color: #fff;
}
.about-area .skills .skill .name{
  background-color: #808080;
  color: #fff;
}
.about-area .skills .skill .percentage{
  background-color: #fff;
  color: #808080;
}
.about-area button.download_CV_button{
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1.2rem 2rem;
  background: #fff;
  box-shadow: none;
  border: 2px solid #e76270;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3rem;
  color: #e76270;
}
.about-area button.download_CV_button:hover{
  background-color: #e76270;
  color: #fff;
}

/*
  Skills Sections Styling goes here
*/
.skills-area{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #eeeeee;
}
.skills-area h1 {
  font-weight: 300;
}
.skills-area .d-flex {
  padding: 1rem 0;
  align-items: center;
}
.skills-area .skills-sec {
  margin-top: 5rem;
}
.skills-area .skill-caregory{
  width: 20%;
  font-size: 1.5rem;
  font-weight: 400;
}
.skills-area .skills{
  width: 80%;
}
.skills-area .skills .skill{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
}
.skills-area table{
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid #dddddd;
}
.skills-area table thead tr {
  border: 1px solid #dddddd;
  background: #f2f2f2;
}
.skills-area table thead tr th{
  text-align: left;
  padding: 0.7rem 0.5rem;
  border: 1px solid #dddddd;
}
.skills-area table tbody tr td{
  text-align: left;
  padding: 0.7rem 0.5rem;
  border: 1px solid #dddddd;
}
.skills-area table tbody tr:nth-child(even){
  background: #f2f2f2;
}
.skills-area .centered.line{
  width: 280px;
  height: 3px;
  background-color: #f08b65;
  margin: auto;
}
.work-area{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.work-area h1{
  font-weight: 300;
}
.work-area .centered.line{
  width: 280px;
  height: 3px;
  background-color: #e76270;
  margin: auto;
}
.work-area .experience .teck-stack {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}
.work-area .experience ul.teck-stack li {
  list-style: none;
}
.work-area .experience ul.teck-stack li::before {
  content: "\2022";
  color: #e76270;
  font-weight: bold;
  display: inline-block; 
  width: 2em;
  margin-left: -1em;
}
.work-area .experience .e-item {
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.work-area .experience .e-item::after {
  content: '';
  display: block;
  height: 4px;
  width: 5%;
  background: #cccccc;
  margin: auto;
}
.work-area .experience .e-item .responsibility {
  margin-top: 36px;
  line-height: 22px;
}
.work-area .experience .e-item .company-period {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.education-area{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #eeeeee;
}
.education-area h1{
  font-weight: 300;
}
.education-area .centered.line{
  width: 280px;
  height: 3px;
  background-color: #f24759;
  margin: auto;
}
.education-area h3{
  margin-top: 5rem;
}
.education-area h3{
  text-transform: uppercase;
}
.portfolio-area{
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow-y: auto; 
  position: relative;
  display: flex;
  flex-direction: column;
}
.portfolio-area.sticky .heading {
  position: fixed;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fff;
  padding-top: 24px;
}
.portfolio-area .heading h1 {
  font-weight: 300;
}
.portfolio-area .centered.line{
  width: 280px;
  height: 3px;
  background-color: #f08b65;
  margin: auto;
}
.portfolio-area .portfolio-item {
  padding: 5rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.portfolio-area .portfolio-item .title {
  width: 38%;
  padding: 0 3rem;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}
.portfolio-area .portfolio-item .title::after {
  content: '';
  display: block;
  height: 3px;
  width: 30%;
  margin-top: 8px;
}
.portfolio-area .portfolio-item .title.undolus::after {
  background-color: #5b9bbc
}
.portfolio-area .portfolio-item .title.hireninja::after {
  background-color: #f24759
}
.portfolio-area .portfolio-item .title.tecademics::after {
  background-color: #f08b65
}
.portfolio-area .portfolio-item .title.cme::after {
  background-color: #5b9bbc
}
.portfolio-area .portfolio-item .title.mynd-plan::after {
  background-color: #f24759
}
.portfolio-area .portfolio-item .title.gold-silver::after {
  background-color: #f08b65
}
.portfolio-area .portfolio-item .title.luminary::after {
  background-color: #5b9bbc
}
.portfolio-area .portfolio-item .description{
  width: 62%;
  padding: 0 3rem;
}
.portfolio-area .description .skills {
  margin-top: 0.75rem;
}
.portfolio-area .description .skills .skill{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border: 1px solid #000;
  border-radius: 5px;
}
.contact-area{
  width: 100%;
  height: calc(100vh - 76px);
  min-height: calc(100vh - 76px);
  padding-top: 2.5rem;
  background: #0d2c5a;
  color: #fff;
}
.contact-area .container > * {
  margin-bottom: 1.5rem !important;
}
.contact-area h1 {
  font-weight: 300;
}
.contact-area .centered.line{
  width: 280px;
  height: 3px;
  background-color: #5b9bbc;
  margin: auto;
}
.contact-area form {
  width: 60%;
  margin: auto;
}
.contact-area .form-item{
  margin: 1.75rem 0;
}
.contact-area .form-item input, .contact-area .form-item textarea{
  width: 100%;
  min-height: 28px;
  padding: 0.5rem 0.7rem;
  border: 0px;
  border-bottom: 1px solid #dddddd;
  border-radius: 5px;
}
.contact-area .form-item input:focus, .contact-area .form-item textarea:focus,
.contact-area .form-item input:hover, .contact-area .form-item textarea:hover{
  outline: none;
}
.contact-area form .send-message{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 2rem;
  background: transparent;
  color: #fff;
  box-shadow: none;
  border: 2px solid #5b9bbc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  color: #5b9bbc;
}
.contact-area form .send-message:hover{
  background: #5b9bbc;
  color: #fff;
}
.active {
  text-decoration: underline !important;
  color: #ffffff !important;
}